<div class="container">
  <h1>Update beer</h1>

  <form method="POST" action="/beers">
    <div class="form-group">
      <label for="brewery">Brewery</label>
      <input placeholder="Name of brewery" type="text" name="brewery" id="brewery" class="form-control">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input placeholder="Name of beer" type="text" name="name" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="category">Category</label><br>
      <select class="custom-select col-lg-12" name="category" id="category" class="form-control">
        <option selected>Select a category</option>
        <option value="1">Lager</option>
        <option value="2">Pillsner</option>
        <option value="3">India Pale Ale</option>
        <option value="4">American Pale Ale</option>
        <option value="5">IPA - Session</option>
        <option value="6">Porter</option>
        <option value="7">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="abv">ABV%</label>
      <input placeholder="ABV %" type="text" name="abv" id="abv" class="form-control">
    </div>
    <div class="form-group">
      <label for="abv">Description</label>
      <textarea placeholder="Description of beer" type="text" name="description" id="description" class="form-control" rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="abv">Image</label>
      <input placeholder="Image url" type="text" name="image" id="image" class="form-control">
    </div>
    <button class="btn btn-primary">Add Beer</button>
  </form>
