<h1>New Beers</h1>

<form method="POST" action="/beers">
  <div>
    <label for="brewery">Brewery</label>
    <input type="text" name="brewery" id="brewery">
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="category">Category</label>
    <input type="text" name="category" id="category">
  </div>
  <div>
    <label for="abv">ABV%</label>
    <input type="text" name="abv" id="abv">
  </div>

  <button class="button">Add Beer</button>
</form>
