<div class="container">
  <body class="bg">
    <img class="logo" src="../images/logo.png" />
    <br>
    <button class="learn-btn btn" data-target="register-modal" type="button" name="button" href="#">
      <a href="/register">Register</a>
    </button>
    <button class="login-btn btn" data-target="register-modal" type="button" name="button" href="#">
      <a href="/login">Login</a>
    </button>
  </body>
</div>
