
<div class="container">
  <body class="bg">
      <img class="logo" src="../images/logo.png" />
        <br>
      <button class="learn-btn btn learn-btn" type="button" name="button">
        <a href="#">Learn more</a>
      </button>
      <button class="reg-btn btn register-btn" data-target="register-modal" type="button" name="button" href="#">
        <a href="/register">Register</a>
      </button>
  </body>
</div>
